/* RESET */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #E7F3FF;
}

/* LOGIN CARD */
.login-container {
    width: 360px;
    margin: 90px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease;
}

h2 {
    text-align: center;
    color: #1A4B7A;
    margin-bottom: 25px;
}

/* INPUT BOX */
.input-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: #1A4B7A;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 2px solid #c5dbf2;
    outline: none;
    transition: 0.25s;
}

input:focus {
    border-color: #2D8FE5;
}

/* BUTTON */
.login-btn {
    width: 100%;
    background: #2D8FE5;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.login-btn:hover {
    background: #1d6db8;
}

.note {
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
    color: #6789A8;
}

/* Smooth effect */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

.signup-text {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #54779b;
}

.signup-text a {
    color: #2D8FE5;
    font-weight: 600;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
